{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Custom CSS (optional) -->
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">

    
</head>
<body>

    <!-- Password Reset Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'images/signin-image.jpg' %}" alt="Password Reset Image" class="img-fluid"></figure>
                    <a href="{% url 'login' %}" class="signup-image-link">Already have an account? Login</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                    {% if message%}

                    <div class="alert alert-danger" role="alert">
                      {{message}}
                     </div>
                     
                    {% endif %}
                    {% if success%}

                        <div class="alert alert-success" role="alert">
                          {{success}}
                         </div>
                         
                        {% endif %}
                    <form method="post" class="reset-form" id="reset-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" required />
                        </div>

                        <div class="form-group form-button">
                            <button type="submit" name="reset" id="reset" class="btn btn-success btn-block">Send Password Reset Link</button>
                        </div>
                    </form>
                    <p class="form-message">If you have an account, you can <a href="{% url 'login' %}">log in here</a>.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
